#readerHoverButtons {
    position: absolute;
    right: 5px;
    width: auto;
    height: auto;
    z-index: 2;
}

.top225 {
    top: 225px !important;
}

#readerHoverButtons button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#readerHoverButtons .fa-expand:before {
    color: #6c757d;
}

#fullscreenButton:hover .fa-expand:before {
    color: black;
}

#readerHoverButtons .fa-sliders-h:before {
    color: #6c757d;
}

#readerSettings:hover .fa-sliders-h:before {
    color: black;
}

.mangaName {
    width: auto;
}

#mangaName {
    border: 1px;
    border-color: transparent;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    text-shadow: 1px 1px 2px white;
    width: auto;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px;
    color: black;
    font-size: 1.3rem;
    margin-top: auto;
    margin-bottom: auto;
}

.chapterPageSelector {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#fcreaderHoverButtons {
    position: absolute;
    right: 5px;
    top: 5px;
    width: auto;
    height: auto;
    z-index: 10;
}

#fcreaderHoverButtons button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#fcreaderHoverButtons .fa-expand:before {
    color: #6c757d;
}

#fcfullscreenButton:hover .fa-expand:before {
    color: black;
}

#firstChapter {
    color: white;
    width: 150px;
    background-color: rgba(0, 0, 0, .85);
    text-align: center;
    border-radius: 1rem;
}

#lastChapter {
    color: white;
    width: 150px;
    background-color: rgba(0, 0, 0, .85);
    text-align: center;
    border-radius: 1rem;
}

#autoScrollBar:focus {
    outline: none;
}